@use "../../top/vars" as *;
@use "../../top/boxes" as box;
@use "../../top/buttons" as bt;

// Select role preview
.container__09ccc {
    @include box.beigeBox;

    // Search role
    .container__33507 {
        @include bt.inset;
    }

    // Role
    .item__97e86 {
        border-radius: 0;

        &.selected__97e86 {
            background: $color-selected;
        }

        .itemLabel__97e86 span {
            background: var(--xp-bg-tint-color);
        }

        // Checkbox
        .box_f525d3 {
            border-radius: 0;

            &.checked_f525d3 {
                background: $color-shortcut-2 !important;

                path {
                    fill: $color-start-2 !important;
                }
            }
        }
    }
}
