@use "../../../top/vars" as *;
@use "../../../top/boxes" as box;

// Pinned messages
.messagesPopoutWrap__45690 {
    .header__45690 {
        @include box.windowTitle;
    }

    .messagesPopout__45690 {
        @include box.startMenuList;
        background: var(--xp-bg-tint-color);

        .messageGroupWrapper__45690 {
            @include box.indentBox;
            border: 0;
        }

        .body__45690 {
            color: var(--xp-txt-color);
        }
    }
}
