@use "../../../top/vars" as *;
@use "../../../top/color-generic" as *;
@use "../../../top/boxes" as box;
@use "../../../top/buttons" as bt;

// Threads
.browser_d98031 {
    border-radius: 8px 8px 0 0;

    // Top bar
    .header_d9c882 {
        @include box.windowTitle;

        // #
        .threadIcon_d9c882 {
            color: $white;
        }

        // Search bar
        .searchBox_d9c882 {
            @include bt.button($ISBEIGE: true, $ISINSET: true);

            .input__48d49 {
                color: $black;
            }
        }

        // Close button
        .closeIcon_d9c882 {
            @include bt.winButton(26px, true);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        // Create thread button
        .createButton_d9c882 {
            @include bt.button($ISBEIGE: true);
        }
    }

    // Content
    .list_c441f0 {
        @include box.startMenuList;
        background: var(--xp-bg-tint-color);

        // Thread age
        .sectionHeader_c441f0 {
            color: var(--xp-txt-color) !important;
        }

        // Thread
        .container__6764b {
            @include box.indentBox;
            border: 0;
        }

        // No threads
        .container__1b24f {
            .defaultColor_e9e35f,
            .text-md-normal__6e567 {
                color: var(--xp-txt-color) !important;
            }

            .button__201d5 {
                @include bt.button;
            }
        }
    }
}
