@use "../top/vars" as *;
@use "../top/color-generic" as *;
@use "../top/boxes" as box;
@use "../top/shortcutIcon" as ico;

.baseLayer__960e4.stop-animations {
    opacity: 1 !important;
    transform: scale(1) !important;

    .container_c48ade {
        filter: grayscale(0.8) brightness(0.5);
        backdrop-filter: brightness(1);
    }
}

.layers__960e4 > .layer__960e4 .animating__960e4 {
    transform: none !important;
}

.layer__960e4 {
    background: transparent;

    // Settings menu
    .standardSidebarView__23e6b {
        @include box.mainWindow;

        // Settings sidebar as separate window on left side
        .sidebarRegion__23e6b {
            @include box.startMenuList;
            position: fixed;
            left: 60px;
            top: 180px;
            height: 65vh;
            max-height: calc(100vh - 400px);
            @include box.windowHasPseudoTitle("Settings");

            .sidebarRegionScroller__23e6b {
                background: var(--xp-bg-color);

                .sidebar__23e6b {
                    padding: 8px;
                    padding-right: 0;

                    .separator_b3f026 {
                        background: transparent;
                        position: relative;
                        @include box.startMenuDivider(-2px);
                    }

                    .item_b3f026 {
                        border-radius: 0;

                        &.selected_b3f026:not(.disabled_b3f026) {
                            background: var(--background-modifier-selected);
                            color: $white;
                        }
                    }
                }
            }
        }

        // Settings contents
        :is(.contentRegionShownSidebar__23e6b, .contentRegion__23e6b) {
            justify-content: center;

            // Server setting roles sidebar
            .sidebar_e29cd7 {
                left: 0;
            }

            // Server setting roles main content
            .customContainer__23e6b,
            .contentContainer__91dc3 {
                position: relative;
                left: 0;
            }

            // Close settings button
            .toolsContainer__23e6b {
                padding-top: 10px;
                margin-right: 0;
                position: absolute;
                left: -80px;
                height: 50px;

                .container_c2b141 {
                    @include ico.makeIcon(50px, auto, ".closeButton_c2b141");
                    position: unset;

                    &::before {
                        content: "Close";
                    }

                    .keybind_c2b141 {
                        display: none;
                    }
                }
            }
        }
    }

    .pictureInPictureWindow__6341f {
        @include box.windowHasPseudoTitle("Stream");
        overflow: visible;
        border-radius: 0;

        .pictureInPictureVideo_e4cb9a {
            border-radius: 0;
        }
    }
}
