@use "../top/vars" as *;
@use "../top/boxes" as box;
@use "../top/shortcutIcon" as ico;

// Overall background
.bg__960e4 {
    background: var(--xp-background-color, $xp-background-color) var(--xp-background-image, $xp-background-image) center/cover;
}

// Transparency
:is(.appMount__51fd7, body, .app__160d8) {
    background: transparent;
}

// Main view
.container_c48ade {
    // Channels sidebar and main chat
    .base_c48ade {
        // Notice banner
        .notice__5fd4c {
            top: $window-top;
            margin: 0 $window-right 0 $window-left;
            width: auto;
            border-radius: 0;
            border: solid $color-taskbar-3;
            border-width: 0 2px 0 2px;
            box-shadow: none;
        }

        // Call banner (in DMs)
        .wrapper_cb9592 {
            z-index: 0;
        }

        .content_f75fb0::before {
            z-index: 0;
        }

        // Top bar
        .chat_f75fb0 > .subtitleContainer_f75fb0 > .title_f75fb0 {
            .toolbar__9293f {
                // Move help icon
                .anchor_edefb8 .iconWrapper__9293f:only-of-type {
                    @include ico.makeIcon(50px, auto, ".icon__9293f");
                    top: $window-top + 90px;
                }

                // Move show/hide member list button
                .iconWrapper__9293f:has([d^="M14 8.00598"]) {
                    @include ico.makeIcon(auto, 50px, ".icon__9293f");
                }
            }
        }

        // Main DM and friend list view
        .container__133bf,
        // Explore servers view
        .pageWrapper_a3a4ce,
        // University hub
        .scroller_a39aa3,
        // Buy nitro page
        .applicationStore_f07d62,
        // Main chat
        .chat_f75fb0:not(.container__0b563 > .chat_f75fb0) {
            @include box.mainWindow;
        }

        // University hub
        .scroller_a39aa3 {
            height: auto;
        }

        // Main chat and top bar
        .chat_f75fb0:not(.container__0b563 > .chat_f75fb0) {
            // Main chat
            .chatContent_f75fb0 {
                // Message box
                .form_f75fb0 {
                    // Gift nitro button
                    .buttons__74017 > .button__201d5 {
                        @include ico.makeIcon(50px, auto, ".buttonWrapper__24af7");
                        top: $window-top;

                        .button__74017 {
                            margin: 0;

                            .buttonWrapper__24af7 {
                                padding: 0;
                                margin: 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }

                    // Autocompleter
                    .autocomplete__13533 {
                        width: calc(100% - 150px);
                    }
                }
            }

            // Forums
            .headerRow_f369db,
            .list_f369db > div:first-child {
                min-width: 0;
            }
            .header_f369db {
                z-index: 0;
            }

            // Members list
            .membersWrap_c8ffbb {
                @include box.startMenuList;

                position: fixed;
                right: 30px;
                top: 180px;
                height: 65vh;
                max-height: calc(100vh - 400px);
                @include box.windowHasPseudoTitle("Members");

                .members_c8ffbb {
                    background: var(--xp-bg-color);

                    // Member group
                    .membersGroup_c8ffbb:not(:nth-child(2)) {
                        position: relative;
                        @include box.startMenuDivider(7px);
                    }

                    // Member
                    .member_c8ffbb,
                    .member__5d473 {
                        background: var(--xp-bg-color);

                        .container__91a9d,
                        .layout__91a9d {
                            border-radius: 0;
                        }
                    }
                }
            }

            // VC video
            .video_cb9592 {
                z-index: 0;
            }
        }

        // With members list visible
        &:has(.membersWrap_c8ffbb) {
            // VC video controls
            .bottomControls_bfe55a {
                width: auto;
                padding-right: 150px;
            }

            // Message
            .message__5126c {
                padding-right: 140px !important;

                // Message actions
                .container__040f0 {
                    right: 130px;
                }
            }
        }
    }
}
