@use "../top/vars" as *;
@use "../top/color-generic" as *;
@use "../top/boxes" as box;

// Channels sidebar
.sidebar_c48ade {
    position: absolute;
    bottom: 0;
    max-height: 60vh;
    background: transparent;
    @include box.windowBox(15px);

    // Title and channels
    .container__2637a {
        background: transparent;

        // Title
        .header_f37cb1 {
            @include box.windowTitle();
            height: 48px;

            .headerContent_f37cb1 {
                color: $white;

                .flowerStar__3e3b0 {
                    color: $white-overlay;
                }
            }
        }

        // Server image banner
        .animatedContainer_f37cb1 {
            background: transparent;
            z-index: 2;
            border-radius: 8px 8px 0 0;

            .bannerImage_f37cb1::before {
                display: none;
            }
        }

        // Server event
        .container__6e9be {
            background: $color-tooltip-2;
            --header-primary: #{$black};
            --header-secondary: #{$black};
            @include box.windowBox(15px);

            // Inner box
            .channelNotice_e2d7b8 {
                border-bottom: none;

                // Event Details button
                .joinButton_e2d7b8 {
                    border-radius: 0;
                }
            }
        }

        // Channels
        .scroller__629e4 {
            @include box.startMenuList;

            // Channel names
            :is(.modeSelected__2ea32, .notInteractive__2ea32.modeConnected__2ea32, .notInteractive__2ea32.modeSelected__2ea32) {
                .name__2ea32 {
                    color: $white;
                }
            }

            // Divider
            .sectionDivider__629e4 {
                background: transparent;
            }

            // Category
            .containerDefault__29444:not(:nth-child(2)) {
                @include box.startMenuDivider(7px);
            }

            // Channel
            :is(.wrapper__2ea32, .container_b15955, .link__2ea32) {
                border-radius: 0;

                // Channel actions
                .actionIcon_c69b6d {
                    color: var(--xp-set-color);
                }

                // Voice channel member limit
                .channelInfo_c69b6d {
                    --background-primary: lightgrey;
                    --background-tertiary: grey;

                    .wrapper__260e1 {
                        border-radius: 3px;
                    }
                }
            }

            // User in voice channel
            .content__07f91 {
                border-radius: 0;
            }

            // Selected channel
            .modeSelected__2ea32 {
                // Channel actions
                .actionIcon_c69b6d {
                    color: $white-overlay;
                }
            }

            // Muted channel
            .modeMuted__2ea32 {
                .name__2ea32,
                .icon__2ea32 {
                    color: grey;
                }
            }
        }
    }

    // DMs
    .privateChannels__35e86 {
        background: transparent;

        // Find conversation
        .searchBar__35e86 {
            @include box.windowTitle;

            .searchBarComponent__35e86 {
                background: transparent;
                font-size: 14px;
                line-height: $title-height;
                font-weight: 600;
                font-family: Tahoma, sans-serif;
                text-shadow: 0 1px 1px $black;
                color: $white;
            }
        }

        // DMs and friends
        .scroller__99e7c {
            @include box.startMenuList;
        }

        // DMs category
        .privateChannelsHeaderContainer__99e7c {
            position: relative;
            @include box.startMenuDivider(2px);
        }

        // Menu item
        .container_b15955 {
            border-radius: 0;
        }
    }

    // Explore servers category list
    & > .scrollerBase__99f8c {
        @include box.startMenuList;
        position: relative;
        border-radius: 8px 8px 0 0;

        &::before {
            display: none;
        }

        // Header
        .discoverHeader_b992d4 {
            @include box.windowTitle;
            margin: 0;
            padding: 12px 0;
            text-indent: 16px;
            font-size: 16px;
            position: fixed;
            width: 240px;
            z-index: 2;
        }

        // Category
        .container__91a9d {
            color: var(--channels-default);
            border-radius: 0;

            &:first-of-type {
                margin-top: 62px;
            }

            &:nth-last-of-type(2) {
                margin-bottom: 10px;
            }

            .layout__91a9d {
                border-radius: 0;
            }
        }

        .categoryItem_c72b37.selectedCategoryItem_c72b37 .itemInner_c72b37 {
            background-color: var(--background-modifier-selected);
        }
    }
}
