@use "../top/vars" as *;
@use "../top/boxes" as box;

// Main chat with thread open
.chat_f75fb0.threadSidebarOpen_f75fb0 {
    border-radius: 0;

    // Message needs no indent as member list cannot be visible at once.
    .chatContent_f75fb0 .message__5126c {
        margin-right: 0 !important;
    }

    // Neither does autocompleter
    .autocomplete__13533 {
        width: auto !important;
    }
}

.resizeHandle__01ae2 {
    background: $color-window-2;
}

// Floating thread panel
.floating__01ae2 {
    border-radius: 0;
}

// Threads not video chat
.content_c48ade > {
    // Main chat / thread separator
    .resizeHandle__01ae2 {
        position: relative;
        right: $window-right;
        margin: $window-top 0 $window-bottom 0;
        height: auto;
    }

    // Thread panel
    .container__01ae2 {
        position: relative;
        margin: $window-top 0 $window-bottom 0;
        right: $window-right;
        border-radius: 0;
        max-width: 100%;
        @include box.windowBox(3px);
    }

    // Floating thread panel for narrow screens
    .chatLayerWrapper__01ae2 {
        // margin: $window-top $window-right $window-bottom 0;
        top: $window-top;
        right: calc($window-right + 2px);
        bottom: calc($window-bottom + 2px);
        height: auto;
    }
}

.chatTarget__01ae2 {
    display: none;
}
